{% extends '_layout/base.html.twig' %}

{% block skin %}{% endblock %}
{% block title %}Bienvenue{% endblock %}
{% block titleSuffix %} | {% endblock %}

{% block navbar %}
    <header id="slide-out" class="sidenav">
        <div class="sidenav-wrapper">
            <h1 class="sr-only">Menu</h1>
            <a class="brand-logo" href="{{ path('accueil.front') }}" title="Fondatools">
                <span class="brand-image">
                    <img src="{{ asset('assets/images/brand_icon_white.png') }}" width="64" height="64" alt="Logo Fondatools"/>
                </span>
                <span class="brand-name">
                    <img src="{{ asset('assets/images/brand_name_white.png') }}" width="401" height="64" alt="Fondatools"/>
                </span>
            </a>
            <nav class="main-menu">
                {% include '_partial/nav/_menu.html.twig' with { menu: getFrontMenuPrincipal() } only %}
                {% block subnav %}{% endblock %}
            </nav>
            <nav class="secondary-menu">
                {% include '_partial/nav/_menu.html.twig' with { menu: getFrontMenuSecondaire() } only %}
                {% include 'front/_layout/_menu_utilisateur.html.twig' only %}
            </nav>
        </div>
    </header>
{% endblock %}
