<div class="page-meta info-text" title="Dernière modification : {{ entite.modifieLe|date('d/m/Y') }} ({{ entite.modifiePar }})">
    <span class="label">Dernière modification :</span>
    <span class="value">{{ entite.modifieLe|date('d/m/Y') }} ({{ entite.modifiePar }})</span>
</div>
