{% extends 'back/_layout/base.html.twig' %}
{% set titrePage %}
    {{- utilisateur.civilite|default ? utilisateur.civilite ~ ' ' -}}
    {{- utilisateur.prenom|default ? utilisateur.prenom ~ ' ' -}}
    {{- utilisateur.nom|default ? utilisateur.nom|upper -}}
{% endset %}
{% set titreFormUtilisateurModifier = "Modifier l'utilisateur" %}
{% set titreFormUtilisateurSupprimer = "Supprimer" %}

{% block title %}{{ titrePage }}{% endblock %}

{% block subnav %}
    {% include 'back/utilisateur/utilisateur/_extranav.html.twig' only %}
{% endblock %}

{% block body %}
    {% include '_partial/page/_page_filter_panel.html.twig' only %}
    {% include '_partial/nav/_fab.html.twig' with {
        action: titreFormUtilisateurModifier,
        icone: 'modifier',
        titreModal: titreFormUtilisateurModifier|e,
        urlFormulaire: path('utilisateur.modifier', {id: utilisateur.id}),
        urlMajContent: path('utilisateur.consulter.ajax', {idUtilisateur: utilisateur.id}),
        balise: null,
    } only %}

    {% set titre %}
        {% include '_partial/person/_utilisateur.html.twig' with {utilisateur:utilisateur} only %}
    {% endset %}
    {% embed '_partial/page/_section_header.html.twig' with {
        pageHeader: true,
        entite: utilisateur,
        titre: titrePage,
        icone: 'utilisateur',
        classe: not utilisateur.isActif ? 'disabled',
    } only %}
        {% block titre %}
            {% include '_partial/page/_page_header_title.html.twig' with {titre: titre} %}
        {% endblock %}
    {% endembed %}

    <div class="main-content inline-label s12 m4 l3 xl2" id="zone-ajax">
        {% include 'back/utilisateur/utilisateur/consulter_utilisateur_ajax.html.twig' with {
            utilisateur: utilisateur
        } only %}
    </div>
{% endblock %}
