<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
        html, body {
            font-family: sans-serif;
            white-space: pre-wrap;
        }
    </style>
    <title>{% block title %}{% endblock %}{% block titleSuffix %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>