<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block html_head %}{% include '_layout/html_head.html.twig' %}{% endblock %}
        <title>{% block title %}{% endblock %}{% block titleSuffix %}{% endblock %}</title>
    </head>
    <body class="{% block skin %}{% endblock %} {% block bodyClass %}{% endblock %}">
        <a id="backToTop" title="Retour en haut de page"><i class="material-icons" aria-hiden="true">keyboard_arrow_up</i></a>
        <div class="wrapper">
            {% block navbar %}{% endblock %}
            <main>
                {% include '_partial/nav/_sidenav_trigger.html.twig' only %}
                <div id="toast-container">
                    {%- for type, messages in app.session.flashbag.all() -%}
                        {%- for message in messages -%}
                            <div class="flash-{{type}}">{{message}}</div>
                        {%- endfor -%}
                    {%- endfor -%}
                </div>
                {% block body %}{% endblock %}
            </main>

            {% block modal %}
                {% include '_partial/modal/_modal.html.twig' only %}
                {{ encore_entry_script_tags('js/modal') }}
                {{ encore_entry_script_tags('js/appelAjaxEvenement') }}
            {% endblock %}
        </div>

        {% block html_scripts %}{% include '_layout/html_scripts.html.twig' %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
