<div class="modal-content">
    {% block content %}
        {% include '_partial/feedback/_noresult.html.twig' with {message: 'À développer'} only %}
    {% endblock %}
</div>
{% apply spaceless %}
    <div class="modal-footer">
        {% block extraActions %}{% endblock %}
        {% block modalActions %}
            <div>
                {% if annuler|default or annuler is not defined %}
                    {% include '_partial/modal/_modal_action.html.twig' with {titre: 'Annuler'} only %}
                {% endif %}
                {% block actions %}
                    {% include '_partial/modal/_modal_action.html.twig' with {
                        submit: submit|default(true),
                        titre: action|default('Enregistrer'),
                        classe: classeAction|default('primary')
                    } only %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endapply %}