<td data-colsize="auto" data-coltype="hover-actions">
    <div class="hover-actions">
        <a href="#!" class="btn-flat waves-effect info-panel-trigger contacts" title="Contacts">
            {% include '_partial/ui/_icone.html.twig' with {icone:'contact'} only %}
        </a>
        <a href="#!" class="btn-flat waves-effect info-panel-trigger factures" title="Factures">
            {% include '_partial/ui/_icone.html.twig' with {icone:'facture'} only %}
        </a>
        <a href="#!" class="btn-flat waves-effect info-panel-trigger statistiques" title="Statistiques">
            {% include '_partial/ui/_icone.html.twig' with {icone:'statistique'} only %}
        </a>
    </div>
</td>