{% extends "_layout/base_auth.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}
{% block h1 %}Saisissez un nouveau mot de passe{% endblock %}
{% block content %}
    <form method="post">

        <div class="form-group">
            <input type="password" name="password" id="inputPassword" class="fullwidth" placeholder="Nouveau mot de passe" required autofocus>
            <label for="inputPassword">Nouveau mot de passe</label>
        </div>
        <input type="hidden" name="token" value="{{ token }}">

        <footer>
            <div class="form-submit">
                <button class="btn waves-effect waves-dark" type="submit">Enregistrer</button>
            </div>
        </footer>

    </form>
{% endblock %}