<section class="block table-grid-md">
    {% if profilsUtilisateurs|length > 0 %}
        <div class="block-head sticky">
            {% set tableauUtilisateurs = {
                utilisateur: { 'libelle':'Utilisateur', 'size': '4', 'type': 'title', 'class': null, },
                organisme: { 'libelle':'Organisme', 'size': '2', 'type': null, 'class': null, },
                profil: { 'libelle':'Profil', 'size': '2', 'type': null, 'class': null, },
                roles: { 'libelle':'Rôles', 'size': '4', 'type': null, 'class': null, },
                actions: { 'libelle':null, 'size': 'auto', 'type': 'actions', 'class': null, },
            } %}
            {% include '_partial/table/_table_head.html.twig' with {
                tableau: tableauUtilisateurs,
                resultats: profilsUtilisateurs
            } only %}
        </div>
        <div class="block-body">
            <table class="table-hover">
                <tbody>
                    {% for index, utilisateur in profilsUtilisateurs %}
                        {% set actions = [
                            {
                                titre: 'Services',
                                titreModal: 'Services'|e,
                                icone: 'service',
                                urlFormulaire: path('utilisateur.modifier.services', {id: utilisateur.id}),
                                urlMajContent: path('utilisateur.lister.ajax', {sensDeTri: sensDeTri}),
                                balise: null,
                            },
                            {
                                titre: 'Modifier',
                                titreModal: "Modifier l'utilisateur"|e,
                                icone: 'modifier',
                                classe: 'info',
                                classeModal: 'check-dirty',
                                urlFormulaire: path('utilisateur.modifier', {id: utilisateur.id}),
                                urlMajContent: path('utilisateur.lister.ajax', {sensDeTri: sensDeTri}),
                                balise: null,
                            },
                            {
                                titre: utilisateur.isActif ? 'Désactiver' : 'Activer',
                                icone: utilisateur.isActif ? 'supprimer' : 'restaurer',
                                classe: utilisateur.isActif ? 'danger' : 'warning',
                                titreModal: utilisateur.isActif ? 'Désactiver' : 'Activer',
                                classeModal: 'danger modal-sm',
                                urlFormulaire: utilisateur.isActif
                                ? path('utilisateur.desactiver.confirmation', {id: utilisateur.id})
                                : path('utilisateur.activer.confirmation', {id: utilisateur.id}),
                                urlMajContent: path('utilisateur.lister.ajax', {sensDeTri: sensDeTri}),
                                balise: null
                            },
                        ] %}
                        {% include 'back/utilisateur/_utilisateur.html.twig' with {
                            index: utilisateur.id,
                            utilisateur: utilisateur,
                            tableau: tableauUtilisateurs,
                            actions: actions,
                        } only %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="block-body">
            {% include '_partial/feedback/_noresult.html.twig' with {message: 'Aucun utilisateur'} only %}
        </div>
    {% endif %}
</section>
