{% extends 'back/_layout/base.html.twig' %}
{% set titrePage = 'Utilisateurs' %}
{% set titreFormUtilisateurCreer = 'Nouvel utilisateur' %}

{% block title %}{{ titrePage }}{% endblock %}

{% block body %}
    {% embed '_partial/page/_page_filter_panel.html.twig' with {form: form_utilisateurFiltrer, urlListe: path('utilisateur.lister')} only %}
        {% block content %}
            {% include 'back/utilisateur/_form_utilisateur_filtres.html.twig' with {form: form} only %}
        {% endblock %}
    {% endembed %}
    {% include '_partial/nav/_fab.html.twig' with {
        action: titreFormUtilisateurCreer,
        icone: 'ajouter',
        titreModal: titreFormUtilisateurCreer|e,
        urlFormulaire: path('utilisateur.creer'),
        urlMajContent: path('utilisateur.lister.ajax', {organisme: organisme, sensDeTri: sensDeTri}),
        balise: null,
    } only %}

    {% set contientPlusieursElements = profilsUtilisateurs|length > 1 %}

    {% embed '_partial/page/_section_header.html.twig' with {
        pageHeader: true,
        titre: titrePage,
        organisme: organisme,
        sensDeTri: sensDeTri,
        contientPlusieursElements: contientPlusieursElements,
    } only %}
        {% block titre %}
            {% include '_partial/page/_page_header_title.html.twig' with {titre: titre} %}
        {% endblock %}
        {% block actions %}
            {% if contientPlusieursElements %}
                {% include '_partial/page/_page_search.html.twig' with {titre:'Rechercher un utilisateur'} only %}
            {% endif %}
            {% include '_partial/page/_page_filter_panel_trigger.html.twig' only %}
            {% if contientPlusieursElements %}
                {% include '_partial/page/_page_sort.html.twig' with {
                    options: ['Par nom', 'Par organisme'],
                    urlListe: path('utilisateur.lister.ajax', {organisme: organisme, sensDeTri: ''}),
                    sensDeTri: sensDeTri,
                } only %}
            {% endif %}
        {% endblock %}
    {% endembed %}

    <div id="zone-ajax" class="main-content">
        {% include 'back/utilisateur/lister_utilisateurs_ajax.html.twig' with {
            profilsUtilisateurs: profilsUtilisateurs,
            organisme: organisme,
            sensDeTri: sensDeTri,
        } only %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            SortField.addEventSortFieldOnSelect('{{ path('utilisateur.lister.ajax', {organisme: organisme, champDeTri: ''}) }}');
            SortField.addEventSortFieldOnClick('{{ path('utilisateur.lister.ajax', {organisme: organisme, sensDeTri: ''}) }}');
            SortField.addEventSortFieldOnInput('{{ path('utilisateur.lister.ajax', {organisme: organisme, sensDeTri: ''}) }}');
        })
    </script>
{% endblock %}